
<div class="parallax-container valign-wrapper">




        <div class="parallax"><%= image_tag "office-custom.jpg" %></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Parallax</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>

        <h2 class="header">Parallax</h2>
        <p class="grey-text text-darken-3 lighten-3">Nam efficitur sit amet ipsum et sagittis. Fusce eu viverra nunc. Integer cursus placerat porttitor. Cras laoreet, tellus non viverra tristique, turpis massa ornare mauris, quis interdum tellus purus eget justo. Fusce vel molestie ex, finibus faucibus ipsum. Nulla vitae augue sem. Praesent molestie felis nisi. Morbi eros ipsum, volutpat vel imperdiet ac, rhoncus eget tellus. Aenean id odio suscipit, tincidunt urna quis, euismod magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pellentesque lobortis facilisis. Donec consequat dignissim finibus. Vestibulum sodales enim erat, vel molestie ex viverra et. Mauris sodales massa id magna ultricies tempor. Nunc pulvinar lorem ut eros fermentum lacinia.

Nulla facilisi. Donec blandit magna a efficitur pulvinar. Praesent cursus fringilla dolor nec volutpat. Aenean eu volutpat odio. Nunc tristique mauris vel scelerisque sagittis. Sed ut dui a nunc vestibulum aliquam ut id sapien. Nullam semper massa non pharetra varius. In lacinia leo velit, eget dignissim purus imperdiet vel. Aenean ut pulvinar purus.

Nam a malesuada nulla. Duis elementum eleifend tempor. Mauris et interdum diam. Integer ultrices pharetra nisi, aliquam hendrerit erat. Praesent interdum aliquet facilisis. Praesent sollicitudin dui sit amet arcu euismod, quis aliquam leo aliquam. Donec vitae nunc nec leo sagittis sodales. Morbi rutrum suscipit convallis. Quisque velit justo, iaculis eget ultrices eget, laoreet quis massa. Donec augue ligula, aliquam non arcu vel, cursus tempor felis. Cras eu tellus risus. In ut orci in dolor cursus luctus ac quis tortor. Quisque ut neque metus. Proin ultrices velit dolor, eu laoreet odio laoreet id. Nunc posuere urna vitae lacinia cursus.

Vestibulum rutrum nisl quis faucibus volutpat. Curabitur dapibus, ante ut ullamcorper venenatis, erat neque faucibus velit, a molestie tellus velit et tellus. Pellentesque suscipit ipsum non metus dignissim, sed rhoncus mauris fringilla. Nulla vel sem eros. Mauris nec tortor gravida, hendrerit justo eget, sagittis nisi. Curabitur luctus orci at lectus aliquam cursus. Fusce tristique porttitor risus, in euismod purus commodo non.</p>

    </div>
</div>

<div class="parallax-container valign-wrapper">




        <div class="parallax"><%= image_tag "office-custom.jpg" %></div>
</div>
<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });
</script>

1690x1127
