<div class="col s9">
  <div class="thin-container">
    <span class="page-header">
      <h3><%= @home.name %> - <small><%= number_to_currency(@home.value) %></small></h3>
      <h4></h4>
      <div class="divider">
      </div>
    </span>

  </div>
</div>
