@import "materialize";
body {
    margin: 0;
}
.height-mod {
    height: 100vh;
    margin-bottom: -20px;
}
.dotted {
    border: 2px dashed #9e9e9e;
    color: #9e9e9e;
}

.dotted:hover {
  color: #672027;
  border-color: #672027;
}
.section a i {
    color: #9e9e9e;
}
.fancy {
    background-color: #3E4173;
}
.super {
    background-color: #969299;
}

.card-color {
  background-color: #FFE38A;
}

.add-card-color {
  background-color: #FFF1C7;
}
.sidenav-link {
  padding: 25px 10px 0px 1%;
  text-align: center;
}

.sidenav-link a {
  color: white;
  display: block;
}
.sidebar-icons {
    color: #eee;
}

.thin-container {

  width: 95%;
  margin: 0 1%;;
}

.max-width {

  width: 100%;
  color: #672027;
}

.nav-hover:hover {
  color: #3E4173;
}
