<nav>
    <div class="nav-wrapper fancy">
        <div class="thin-container">

            <a href="#" class="brand-logo">Site Title</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="#" class="waves-effect"><i class="medium material-icons">perm_identity</i></a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class="medium material-icons">settings</i></a>
                </li>
                <li>
                  <a href="#" class="waves-effect"><i class="medium material-icons">power_settings_new</i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
