<div class="col m1 height-mod hide-on-med-and-down super">
    <ul class='white-text'>
        <li class="sidenav-link"><a href="#"><i class="small material-icons">home</i><br />Properties</a></li>
        <div class="divider" style="margin: 15px 0 0 0;"></div>
        <li class="sidenav-link"><a href="#"><i class="small material-icons">collections</i><br />Collections</a></li>
        <div class="divider" style="margin: 15px 0 0 0;"></div>
        <li class="sidenav-link"><a href="#"><i class="small material-icons">apps</i><br />Misc.</a></li>
    </ul>
</div>
